/*flexbox*/
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  flex: 1 1 200px;
}
/*end flexbox*/
.box1 
  background: red;
}
.box2 
  background: orange;
}
.box3 
  background: yellow;
}
.box4 
  background: green;
}
.box5 
  background: blue;
}
