.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #663399;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
/* source https://www.w3.org/TR/css-flexbox-1/#order-accessibility */
/* Authors must use order only for visual, not logical, reordering of content. Style sheets that use order to perform logical reordering are non-conforming. */
main { display: flex; }
main > article { order: 2; min-width: 12em; flex:1; }
main > nav     { order: 1; width: 200px; background-color: black; color: white; }
main > aside   { order: 3; width: 200px; }

@media all and (max-width: 600px) {
  /* Too narrow to support three columns */
  main { flex-flow: column; }
  main > article, main > nav, main > aside {
    /* Return them to document order */
    order: 0; width: auto;
  }
}
/* test */
/* end https://www.w3.org/TR/css-flexbox-1/#order-accessibility */
